.wrapper {
  margin-top: 20px;
}

.loading {
  color: orange;
  font-style: italic;
}

.noCast {
  font-style: italic;
  color: gray;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.item {
  width: 150px;
  text-align: center;
  font-size: 14px;
}

.image,
.emptyFrame {
  width: 150px;
  height: 225px;
  border-radius: 8px;
  object-fit: cover;
}

.emptyFrame {
  border: 2px dashed #444;
  background-color: #1e1e1e;
}
